<%- include('template/cabecera', {titulo: 'Bienvenido'}) %>
<%- include('template/navbar') %>

<div class="container">
    <h3>Holis Mundo!! Usuario <%= name %></h3>
</div>
    
<%- include('template/footer') %>